best_model.pth
class_names.json
.idea
best_model.pth
output
resultados_yolo
teste_overfitting
resultados_comparacao
overfitting_analysis_results
augmented_balanced
output_balanced
teste_overfitting
projeto
.venv
notas_tcc